<h1>Prepare for the quiz</h1>

<form action="/quiz" method="post" class="form form-group">

  <label for="quiz">What would you like to call your quiz:</label>
  <input class="form-control" id="quiz" name="quiz" type="text">

  <button type="submit">Start</button>
</form>
