<h1>Operation</h1>

<form action="/quiz_start" method="post" class="form form-group">

  <label for="operation">What operation would you like to work on? (*, +, -):</label>
  <input class="form-control" id="operation" name="operation" type="text">

  <button type="submit">Start</button>
</form>
